.reports-dashboard {
  font-family: 'Arial', sans-serif;
  background-color: aliceblue;
  height: 100%;
  display: grid;
  grid-template-rows: .2fr 3fr .2fr;
  grid-template-columns: 1fr;
  
}

.dashboard-title {
  color: #333;
  margin-bottom: 1rem;
  margin-left: 5rem;
  font-size: 4rem;
  font-weight: bold;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-row: 2/3;
  gap: 5rem;
  flex-wrap: wrap;
  margin: 0 5rem;
}
#semaforo{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-column: 1/5;
}

.dashboard-column {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  opacity: .6;
}

.card-title {
  color: #2c3e50;
  margin:auto;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid #3498db;
  padding-bottom: 8px;
}



.placeholder-text {
  color: #999;
  font-style: italic;
}

.traffic-light {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.light {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.light.red {
  background-color: #ff4444;
}

.light.yellow {
  background-color: #ffbb33;
}

.light.green {
  background-color: #00C851;
}

@media (max-width: 1024px) {
  .dashboard-grid {
    flex-direction: column;
  }
  
  .dashboard-column {
    min-width: 100%;
  }
}